<!DOCTYPE html>
<html>
<head>
	<title>age_calculator</title>
	<script src="js/angular.min.js"></script>
	<script src="js/calculator.js"></script>

</head>
<body ng-app="age_calculator">
	<div id="main" ng-controller="main_controller">
		<h3>input your birth date below</h3>
		<form ng-submit="calculate()">
			<input required type="number" min="1" max="31" value="1" placeholder="day" ng-model="day" />
			<input required type="number" min="1" max="12" value="1" placeholder="month" ng-model="month" />
			<input required type="number" min="1970" max="{{ yearNow }}" value="2000" placeholder="year" ng-model="year" />
			<input class="button" type="submit" value="calculate age">
		</form>
		<div id="possst">
			<h4>test</h4>
			<div>
				<p ng-show="ageYear || ageDay"> Your age is, {{ ageYear }} years {{ ageDay }} days. </p>
			</div>
		</div>
	</div>
</body>
</html>